    html {overflow-y: scroll}
    body {color: #222;padding: 0}
	html,body {height:100%}
	a:focus{outline:none}
	a{cursor:pointer}
	.tmpl{display: none}
	/* Bootstrap adjustments */
		h1,h2,h3,h4,h5,h6{font-family:inherit;font-weight:700;color:inherit;text-rendering:optimizelegibility;margin:0}
		h1 small,h2 small,h3 small,h4 small,h5 small,h6 small{font-weight:400;color:#999}
		h1{font-size:30px;line-height:36px}
		h2{font-size:24px;line-height:36px}
		h3{font-size:18px;line-height:27px}
		h4,h5,h6{line-height:18px}
		h6{font-size:11px;color:#999;text-transform:uppercase}
		h1 small,h2 small{font-size:18px}
		h3 small,h4{font-size:14px}
		h4 small,h5{font-size:12px}
.table th {
	height: auto;
	font-size: 10px;
	padding: 5px 10px 2px;
	border-bottom: 0;
	text-align: center;
	color: #666666;
	background-color: #efefef;
	 background-image: -moz-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);/* IE6-9 */
}
.table.with-check tr th:first-child, .table.with-check tr td:first-child {
	width: 10px;
}
.table.with-check tr th:first-child i{
	margin-top: -2px;
	opacity: 0.6;
}
.table.with-check tr td:first-child .checker {
	margin-right: 0;
}
.table tr.checked td {
	background-color: #FFFFE3 !important;
}
		

.widget-box {background: none repeat scroll 0 0 #F9F9F9;border: 1px solid #CDCDCD;clear: both;position: relative; overflow:hidden !important;margin: 0; border-radius: 4px 4px 4px 4px;}
.widget-title {
	background-color: #efefef;
	border-bottom: 1px solid #CDCDCD;
    height: 36px;
    background-image: -moz-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);/* IE6-9 */
     line-height: 36px;
    vertical-align: middle;
    }
.widget-title .nav-tabs {
    border-bottom: 0 none;
}
.widget-title .nav-tabs li a {
    border-bottom: medium none !important;
    border-left: 1px solid #DDDDDD;
    border-radius: 0 0 0 0;
    border-right: 1px solid #DDDDDD;
    border-top: medium none;
    color: #999999;
    margin: 0;
    outline: medium none;
    padding: 9px 10px 8px;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFFFFF;
}
.widget-title .nav-tabs li:first-child a{
    border-left: medium none !important;
}
.widget-title .nav-tabs li a:hover {
    background-color: transparent !important;
    border-color: #D6D6D6;
    border-width: 0 1px;
    color: #666666;
}
.widget-title .nav-tabs li.active a {
    background-color: #F9F9F9 !important;
    color: #444444;
}
.widget-title span.icon {
	border-right: 1px solid #cdcdcd;
	padding: 9px 10px 7px 11px;
	float: left;
	opacity: .7;
}
.widget-title h5 {
    color: #666666;
	text-shadow: 0 1px 0 #ffffff;
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding: 12px;
    line-height: 12px;
    margin: 0;
}
.widget-title .buttons {
	float: right;
	margin: 8px 10px 0 0;
}
.widget-title .label {
	padding: 3px 5px 2px;
	float: right;
	margin: 9px 15px 0 0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.3) inset, 0 1px 0 #ffffff;
}

.widget-content {
	padding: 12px 15px;
    border-bottom: 1px solid #cdcdcd;
}

.btn-rilght{ padding-left:60px;}
.btn-rilght .btn-mini{ font-size:12px;}
.recent-posts{}
.table tr td{ text-align:center;}
.table tr th{ font-size:12px;}
/* table button  */
.btn_table{
	background-color: #efefef;
	border-bottom: 1px solid #CDCDCD;
    height: 36px;
    width: 100%;
    overflow: hidden;
    background-image: -linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);/* IE6-9 */
    }
.btn_table a{ display:block;  float:left; border-bottom: medium none !important; border-left: 1px solid #DDDDDD;
    border-radius: 0 0 0 0;border-right: 1px solid #DDDDDD; border-top: medium none;color: #777;margin: 0;
    outline: medium none;
    padding: 9px 10px 8px;
    font-weight: bold;
    text-shadow: 0 1px 0 #FFFFFF;
    font-size:12px;
    font-weight:normal;
}
.btn_table a i{filter:alpha(opacity=60);-moz-opacity:0.6;-khtml-opacity: 0.6;opacity: 0.6;}
.btn_table a:hover {
    background-color: transparent !important;
    border-color: #D6D6D6;
    border-width: 0 1px;
    color: #444;
}
.btn_table a:hover i{filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity: 0.8;opacity: 0.8;}



/* search  */
.search_ab{position:absolute;  left:56%!important; width:40%;  text-align:right; margin-top:-34px;  }
.search_ab input{ width:150px!important;}
.search_answer{ position:absolute; left:94.8%;  margin-top:-45px;}




/*--filter--*/
.filter{ width:100%; overflow:hidden; border-bottom:#ccc 1px solid; padding:12px 0 1px;}
.filter *{font-size:12px!important; font-weight:normal; color:#000; }
.filter dd,.filter dt{ float:left; }
.filter a{display:block;background:url(../img/select.gif) 0px 3px no-repeat; padding:0 0 0 15px; color:#555!important; margin-right:8px;}
.filter a:hover{ color:#0088cc!important; text-decoration:underline;}
.store{  padding:0 10px;margin:0!important;}
.wrap-selects select{ line-height:18px; padding:0;  height:20px;}
.wrap-selects option{ width:90%;}
.instock a.on{ background-position:0 -47px;}
dl.type_chouse{margin:0!important;}
dl.type_chouse dt{border-left:#ccc 1px solid; padding-left:20px;}
dl.type_chouse a{ background-position:-100px 3px;}
dl.type_chouse a.on{ background-position:-100px -47px;}		




		
		
		
		
		
/** sidebar right **/
.side-right{
    position: absolute;
    display: block;
    height:100%;
    background: #FFFFFF url('../img/noise.png');
    width: 16%;
    border: 1px solid #CDCDCD;
      font-size: 0.8em;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
    text-align: justify;
}
.side-right.fixed{
    position: fixed;
}

.sidebar-right > .sidebar-right-header{
    padding: 10px 20px 10px 20px;
    border-bottom: 1px solid #CDCDCD;
    background: #E9E9E9 url('../img/bg-content-header.png');
    color: #626262;
    height: 42px;
    max-height: 42px;
    overflow: hidden;
}
.sidebar-right > .sidebar-right-header h1,
.sidebar-right > .sidebar-right-header h2,
.sidebar-right > .sidebar-right-header h3,
.sidebar-right > .sidebar-right-header h4,
.sidebar-right > .sidebar-right-header h5,
.sidebar-right > .sidebar-right-header h6{
    font-size: 1.2em;
    margin: 0px;
}

.sidebar-right > .sidebar-right-header h1 > i:first-child,
.sidebar-right > .sidebar-right-header h2 > i:first-child,
.sidebar-right > .sidebar-right-header h3 > i:first-child,
.sidebar-right > .sidebar-right-header h4 > i:first-child,
.sidebar-right > .sidebar-right-header h5 > i:first-child,
.sidebar-right > .sidebar-right-header h6 > i:first-child{
    margin-right: 5px;
}
.sidebar-right > .sidebar-right-header h1 > small,
.sidebar-right > .sidebar-right-header h2 > small,
.sidebar-right > .sidebar-right-header h3 > small,
.sidebar-right > .sidebar-right-header h4 > small,
.sidebar-right > .sidebar-right-header h5 > small,
.sidebar-right > .sidebar-right-header h6 > small{
    font-size: .8em;
    font-weight: normal;
}
.sr-header-right{
    float: right;
}
.sr-header-left,
.sr-header-right{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.sr-header-left *,
.sr-header-right *{
    margin: 0px;
}
.sr-header-right .balance-value{
    display: block;
}
.sr-header-left small,
.sr-header-right small{
    font-size: .8em;
}
.sidebar-right > .sidebar-right-control{
    background: #E9E9E9 url('../img/bg-content-header.png');
    font-size: .8em;
    height: 38px;
    margin: 0px;
    border-bottom: 1px solid #CDCDCD;
    -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
}

.sidebar-right-control > ul.sr-control-item{
    margin: 0px;
    padding: 0px;
    list-style: none;
    white-space: nowrap;
}
.sidebar-right > .sidebar-right-content{
    padding: 5px;
    font-size: .8em;
    text-align: justify;
    overflow: hidden;
    overflow-y: auto;
}

.sidebar-right-control > ul.sr-control-item > li{
    margin: 0px;
    position: relative;
    margin-right: 0px;
    padding: 0px;
    list-style: none;
    line-height: 36px;
    display: table-cell;
    text-align: center;
    border-right: 1px solid #CDCDCD;
}
.sidebar-right-control > ul.sr-control-item > li a{
    margin: 0px;
    display: block;
    height: 100%;
    padding: 0px 10px;
}
.sidebar-right-control > ul.sr-control-item > li.active{
    background: #FFFFFF url('../img/noise.png');
}
.sidebar-right-control > ul.sr-control-item > li.active:after{
    position: absolute;
    left: 0px;
    content: ' ';
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #FFF;
}
.sidebar-right-control > ul.sr-control-item > li.divider{
    position: absolute;
    padding: 0px;
    height: 38px;
    width: 0px;
    border-right: 1px solid #CDCDCD;
}

/* side contact */
.side-contact{
    overflow: hidden;
}

.side-contact ul.contact-list{
    max-height: 380px;
    overflow: hidden;
    overflow-y: auto;
}
.side-contact ul.contact-list,
.side-contact ul.contact-list li.contact-alt{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.side-contact ul.contact-list li.contact-alt:hover{
    background: #f1f1f1 url('../img/noise.png');
}
.side-contact ul.contact-list .contact-alt:first-child{
    border: 1px solid #CDCDCD;
}
.side-contact ul.contact-list .contact-alt{
    border: 1px solid #CDCDCD;
    border-top: none;
}
.side-contact ul.contact-list .contact-alt.active{
    border-left: none;
    background: #FFFFFF url('../img/noise.png');
    color: #00A0B1;
}

.side-contact ul.contact-list .pull-left{
    margin-right: 10px;
}
.side-contact ul.contact-list .pull-right{
    margin-left: 10px;
}

.side-contact ul.contact-list .contact-item-body{
    overflow: hidden;
    *overflow: visible;
    zoom: 1;
}
.side-contact ul.contact-list .contact-alt a{
    display: block;
    height: 42px;
    max-height: 42px;
    overflow: hidden;
    padding: 5px 5px 0px 5px;
}

.side-contact ul.contact-list .contact-alt .status{
    float: right;
    line-height: 32px;
    margin-right: 5px;
}

.side-contact ul.contact-list .contact-item-heading{
    margin: 0px;
    white-space: nowrap;
}
.side-contact ul.contact-list .help-block{
    margin: 0px;
    margin-top: -5px;
    white-space: nowrap;
}
.side-contact ul.contact-list .contact-search{
    
}
.side-contact .contact-control ul li{
    font-size: .9em;
}












	/* forms */
		.formRow:last-child input, .formRow:last-child textarea, .formRow:last-child select, .uneditable-input {margin-bottom: 0}
		.formRow small {display:block;font-size:11px;color:#999;line-height:14px}
		.formSep {margin-bottom:12px;padding-bottom:12px;
		 padding:20px 0px 3px;
	 background-color: #FFFFFF;
      border: 1px solid #DDDDDD;
     border-radius: 4px 4px 4px 4px;
     display: inline-block;
     position: relative;}
     
     .formSep:after{
	background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    content: attr(title);
    font-size: 12px;
    font-weight: bold;
    padding: 3px;
    position: absolute;
     line-height: 10px;
     top:0px;
}
		
		.stacked select, .stacked input[type="text"],.stacked textarea {display:block}
		
		.help-inline,.help-block {font-size:11px;margin:-4px 0 0 2px}
		
		.form-horizontal .help-block {margin-top:2px}
		.form-horizontal .control-group {margin-bottom:14px}
		
		input.focused {border-color: rgba(82,168,236,.8);-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);outline: 0;z-index:2;position:relative}
		
		.f_warning > label,.f_warning .help-block,.f_warning .help-inline{color:#c09853}
		.f_warning input,.f_warning select,.f_warning textarea{color:#c09853;border-color:#c09853}
		.f_warning input:focus,.f_warning select:focus,.f_warning textarea:focus{-webkit-box-shadow:0 0 6px #dbc59e;-moz-box-shadow:0 0 6px #dbc59e;box-shadow:0 0 6px #dbc59e;border-color:#a47e3c}
		.f_warning .input-prepend .add-on,.f_warning .input-append .add-on{color:#c09853;background-color:#fcf8e3;border-color:#c09853}
		
		.f_error input,.f_error select,.f_error textarea{color:#b94a48;border-color:#b94a48}
		.f_error input:focus,.f_error select:focus,.f_error textarea:focus{-webkit-box-shadow:0 0 6px #d59392;-moz-box-shadow:0 0 6px #d59392;box-shadow:0 0 6px #d59392;border-color:#953b39}
		.f_error .input-prepend .add-on,.f_error .input-append .add-on{color:#b94a48;background-color:#f2dede;border-color:#b94a48}
		.f_error label.error {display:block;font-size:11px;font-weight:700;color:#C62626}
		input[type="text"] + label.error,input[type="password"] + label.error, select + label.error, textarea + label.error {margin-top:-6px}
		.f_error label.radio + label.error,.f_error label.checkbox + label.error {margin-top:5px}
		.input-prepend.f_error label.error,.input_append.f_error  label.error {margin-top:4px}
		.control-group.f_error label.error {margin-top:2px}
		
		.f_success > label,.f_success .help-block,.f_success .help-inline{color:#468847}
		.f_success input,.f_success select,.f_success textarea{color:#468847;border-color:#468847}
		.f_success input:focus,.f_success select:focus,.f_success textarea:focus{-webkit-box-shadow:0 0 6px #7aba7b;-moz-box-shadow:0 0 6px #7aba7b;box-shadow:0 0 6px #7aba7b;border-color:#356635}
		.f_success .input-prepend .add-on,.f_success .input-append .add-on{color:#468847;background-color:#dff0d8;border-color:#468847}
		
		.ui-tooltip label {margin-bottom:0}
		.f_legend {font-size:16px;line-height:16px;padding-bottom:10px;margin-bottom:22px;border-bottom:1px solid #dcdcdc}
		.radio.inline, .checkbox.inline {margin-left:0 !important;margin-right:10px}
		
        .f_req {font-size:13px;color:#ff0000;font-family: helvetica, arial, sans-serif}
		.form-horizontal .controls.text_line {line-height:25px}
		.row-fluid input[class*="span"],.row-fluid textarea[class*="span"],.row-fluid select[class*="span"] {display:inline-block;}
		.row-fluid input[class*="span"] + input[class*="span"], .row-fluid textarea[class*="span"] + textarea[class*="span"], .row-fluid select[class*="span"] + select[class*="span"] {display:block}
        textarea {resize: none}
        .formSep ul>li[class*="span"]{margin-left: 0px;}
        .formSep>ul>li {display: block; float: left;  margin: 0; padding: 6px 0px;; position: relative; width: 310px;}
		 .formSep>ul>li>label { float: left;line-height: 21px; padding: 0 5px;width: 80px; word-break: keep-all; overflow:hidden;   text-overflow: ellipsis;}   
        .controls{ 
    background: -moz-linear-gradient(center top , white, #D2E7FC) repeat scroll 0 0 transparent;
    bottom: 0px;
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
   vertical-align: middle; 
   text-align: center;
        }
    .formSep .showLabel{border-bottom: 1px solid #CCCCCC;}
    
   .formSep .tip{position: absolute;right: 5px;}